<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>
<table border="1">
    <tr>
        <th>Model</th>
        <th>Serial</th>
        <th>Color</th>
    </tr>
<tr th:each="person : ${list}">
    <td th:text="${person.getModel()}">model </td>
    <td th:text="${person.getSerial()}">serial </td>
    <td th:text="${person.getColor()}">color </td>
</tr>
</table>
</body>
</html>